body {
  background-image: url(https://i.ya-webdesign.com/images/transparent-sprinkles-background-tumblr-6.png);
  background-color: lightpink;
}

.title {
  background-color: lightblue;
}

.title h1 {
  color: white;
}

.body h1 {
  color: lightblue;
}

.body {
  background-color: whitesmoke;
}

.letter {
  width: 30px;
  height: 30px;
  border-style: solid;
  padding: 2px;
  float: left;
  margin: 2px;
}

.letter-button-color {
  color: darkcyan;
}

#refresh {
  margin-top: 10%;
}

h5 ul li {
  display: inline;
  letter-spacing: 10px;
  border-style: solid;
  padding-left: 2px;
  margin: 2px;
  text-align: center;
}

h5 li {
  border: lightblue 1px solid;
}

.form-control {
  width: 10ch;
  text-align: center;
}
